
.heroSection{
    width: 80%;
    margin: 3rem auto;
}

.heroSection_box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; 
}
.heroSection_box_left{
    padding-right: 6rem;
}

.heroSection_box_left h1{
    font-size: 5rem;
    line-height: 1;
}

.heroSection_box_left p{
    margin-bottom: 2rem;
}


@media screen and (max-width: 35em) {
    .heroSection{
        width: 90%;
    }
}

@media screen and (max-width: 55em ) {
    .heroSection_box{
        grid-template-columns: 1fr ;
        gap: 4rem;
    }
    
    .heroSection_box_left{
        padding-right: 2rem;
        width: 20rem;
    }

    .heroSection_box_left h1{
        line-height: 1;
        font-size: 3rem;
    }

    .heroSection_box_right_image{
        width: 380px;
        height: 380px;
    }
       
    
}
@media screen and (min-width: 768px ) and (max-width: 1024) {
    .heroSection_box{
        grid-template-columns: 1fr 3fr ;
        gap: 4rem;
        
    }
    
    .heroSection_box_left{
        padding-right: 2rem;
        width: 20rem;
    }

    .heroSection_box_left h1{
        line-height: 1;
        font-size: 3rem;
    }

    .heroSection_box_right_image{
        width: 380px;
        height: 380px;
    }
       
    
}