
.audioCard{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 4rem);
    gap: 1rem;
    border-radius: 2rem;
    transition: all .3s ease-in;
    width: 28.8rem;
    height: 30rem;
    overflow: hidden;
}

.audioCard:hover{
    box-shadow: var(--box-shadow);
}

.audioCard_box{
    display: grid;
}

.audioCard_box_like_time{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-between;
    line-height: 0;
    z-index: 123;
}

.audioCard_box_like{
    background-color: var(--icons-color);
    color: var(--shadow-dark-color);
    display: flex;
    align-items: center;
    gap: .7rem;
    border-radius: 2rem;
    padding: 1rem .8rem;
    margin: 1rem 1rem;
    overflow: hidden;
    height: 2rem;
    width: 6rem;
}

.audioCard_box_like_icon_like{
    color: var(--main-bg-color);
    font-size: 2rem;
    
}
.audioCard_box_like_icon_unlike{
    color: var(--main-bg-color);
    font-size: 2rem;
}

.audioCard_box_time{
    background-color: var(--main-bg-color);
    padding: 1rem 1.5rem;
    margin-right: -1.4rem;
    transform: skew(35deg);
    height: 5rem;
    border-bottom-left-radius: 1rem;
}

.audioCard_box_time_remaining{
    transform: skew(-35deg);
    text-align: center;
   
}

.audioCard_box_time_remaining small{
    font-weight: 500;
}

.audioCard_box_time_remaining h5{
    font-size: 1.5rem;
    margin-top: 1.6rem;
}

.audioCard_box_player{
    grid-column: 1 / -1;
    grid-row: 0 / 5;

    display: flex;
    padding-inline: 3rem;
    gap: 4rem;
    z-index: 1234;
    align-items: center;
}

.audioCard_box_musicPlayer_icon{
    padding: 1.3rem;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    font-size: 2rem;
    cursor: pointer;
}

.audioCard_box_img{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.audioCard_box_details{
    position: relative;
    top: 17%;
    grid-column: 1 / -1;
    grid-row: 0 / -1;
    z-index: 133;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 1rem 1rem;
    width: 90%;
    border-top-right-radius: 2rem;
    line-height: .1;
}

.audioCard_box_details_info h4{
    font-size: 1.1rem;
    line-height: 0;
}

.audioCard_box_details_info_price{
    border: 1px solid var(--icons-color);
    padding: .5rem 1rem;
    border-radius: .5rem;
    height: 3rem;
    cursor: pointer;
}

.audioCard_box_details_info_price small{
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    padding: .4rem .5rem;
    border-radius: .5rem;
}

.audioCard_box_details_info_price p{
    line-height: 1.2;
    font-weight: 700;
}

.audioCard_box_details_stock{
    text-align: end;
    display: grid;
}

.audioCard_box_details_stock small{
    margin-top: 2rem;
}
.audioCard_box_img_img{
    width: 100%;
    height: 182%;
}

@media screen and (max-width: 35em) {
    .audioCard_box_time{
        padding-inline:2..5rem ;
    }

    .audioCard_box_time_remaining h5{
        font-size: 1rem;
    }

    .audioCard_box_details{
        padding: 1rem;
    }
}

 @media screen and (min-device-width: 427px) and (max-device-width: 768px) {
     .audioCard_box_like_time_remaining h5 {
         font-size: 1rem;
     }
 }

 @media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
     .audioCard_box_like_time {
         padding: 1rem 2rem;
     }

     .audioCard_box_like_time_remaining h5{
        font-size: 1rem;
     }

     .audioCard_box_details_info h4{
        font-size: 1rem;
     }
 }