
.daysComponents{
    width: 100%;
    border-radius: 1rem;
    transition: all .3s ease-in;
    cursor: pointer;
}

.daysComponents:hover{
    box-shadow: var(--box-shadow);
}

.daysComponents_box{
    width: 100%;
}

.daysComponents_box_img_img{
    width: 100%;
    height: 200;
    border-radius: 1rem;
}

.daysComponents_box_profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.daysComponents_box_img_1{
    width: 100%;
    height: unset;
    border-bottom-left-radius: 1rem;
}

.daysComponents_box_img_2 {
    width: 100%;
    height: unset;
    
}

.daysComponents_box_img_3{
    width: 100%;
    height: unset;
    border-bottom-right-radius: 1rem;
}

.daysComponents_box_title{
    padding: 1rem 2rem;
    line-height: 0;
}

.daysComponents_box_title_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.daysComponents_box_title_info_profile{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.daysComponents_box_title_info_profile_img{
    border-radius: 50%;
}

.daysComponents_box_title_info_profile span{
    font-weight: 600;
    padding-inline: .5rem;
}

.daysComponents_box_title_info_price small{
    font-weight: 600;
    border: 3px solid var(--icons-color);
    padding: .5rem;
    border-radius: .5rem;
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .daysComponents_box_profile{
        grid-template-columns: repeat(3, 1fr);
    }

    .daysComponents_box_title_info{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        padding: 1rem;
    }

    .daysComponents_box_img_1{
        width: 100%;
     }
    .daysComponents_box_img_2{
        width: 100%;
     }
    .daysComponents_box_img_3{
        width: 100%;
     }

}
@media screen and (min-device-width: 770px) and (max-device-width: 1024px) {
    .daysComponents{
        width: 100%;
    }
    .daysComponents_box_profile{
        grid-template-columns: repeat(3, 1fr);
    }


}

.daysComponents_box_title {
    padding: 1rem;
}